<!DOCTYPE html>
<html lang="">

<head>
  <title>그리다</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/dog.jpg');">
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
          <div class="logo">
            <h1><img src="images/demo/logo.svg" style="margin-right: 6px; width:30px; height:30px;">
              <a href="/">그리다</a>
            </h1>
          </div>
        </div>
        <!-- ################################################################################################ -->
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li><a href="pages/myhome_guest.html">추모공간 이용방법</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">가입하기</a></li>
          </ul>
        </nav>
        <!-- ################################################################################################ -->
      </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="pageintro" class="hoc clear">
      <!-- ################################################################################################ -->
      <article>
        <h3 class="heading">추모하고 싶은<br>동물을 찾아보세요</h3>
        <p>반려동물의 정보를 입력하세요</p>
        <footer>
          <form class="group">
            <fieldset>
              <div>
                <input type="text" placeholder="검색어를 입력하세요&hellip;" id="search-input">
                <button class="fa fa-search" type="button" id="search">
                </button>
              </div>
            </fieldset>
          </form>
        </footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- End Top Background Image Wrapper -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <section id="introblocks">
        <div class="sectiontitle">
          <h6 class="heading">그리기</h6>
          <p>잊지 말고 영원히 기억하세요</p>
        </div>
        <ul class="nospace group">
          <li class="one_quarter first">
            <article><img src="images/demo/animal.png"
                style="margin-bottom: 15px; width:80x; height:80px;" /><a></i></a>
              <h6 class="heading">세계 야생동물의 날</h6>
              <p>'세계 야생동물의 날'은 전 세계적으로 멸종 위기종에 대한 관심과 대책을 축구하는 날로, 1973년 <b>3월 3일</b> 'CITES(멸종 위기에 처한 야생식 동물종의 국제거래에 관한
                협약)'이 채택된 것을 기념하기 위해 2013년 CITES 당사국 총회에서 지정되었습니다. </p>
              <footer><a class="btn" href="https://blog.naver.com/animalkara/222263070914" target="_blank">더 알아보기 →</a>
              </footer>
            </article>
          </li>
          <li class="one_quarter">
            <article><img src="images/demo/dog.png" style="margin-bottom: 22px; width:72x; height:72px;" /></i></a>
              <h6 class="heading">국제 강아지의 날</h6>
              <p>2006년, 동물학자이자 많은 동물단체를 이끌고 있는 콜린 페이지(Colleen Paige)에 의해 공식 지정된 강아지의 날은 반려견에 대한 관심을 높이자는 취지도 있지만, 버려지는
                유기견을 보호하고 입양을 권장하는 의미가 더 큽니다.<br><b>3월 23일</b>는 이를 기념해 SNS에 '#National Puppy Day'를 통해 귀여운 강아지들과 함께 한
                추억들을 기념하고 있습니다.</p>
              <footer><a class="btn" href="https://www.youtube.com/hashtag/nationalpuppyday" target="_blank">더 알아보기
                  →</a></footer>
            </article>
          </li>
          <li class="one_quarter">
            <article><img src="images/demo/cat.png" style="margin-bottom: 22px; width:74x; height:74px;" /></i></a>
              <h6 class="heading">세계 고양이의 날</h6>
              <p>'세계 고양이의 날'은 인간과 고양이 사이의 오랜 유대를 기념하고 동물복지를 향상시키기 위해 2002년 세계동물복지 기금(IFAW)과 여러 동물단체가 모여 사람이 고양이를 존중하는
                마음, 지지하는 날로 만들어졌습니다.
                <br><b>8월 8일</b>은 이를 기념해 SNS에 '#InternationalCatDay', '#WorldCatDay' 등 해시태그를 달아 세계 고양이의 날을 기념하고 있습니다.
              </p>
              <footer><a class="btn" href="https://www.youtube.com/hashtag/internationalcatday" target="_blank">더 알아보기
                  →</a></footer>
            </article>
          </li>
          <li class="one_quarter">
            <article><img src="images/demo/animal2.png" style="margin-bottom: 15px; width:80x; height:80px;" /></i></a>
              <h6 class="heading">국제 떠돌이 동물의 날</h6>
              <p>International Society for Animal Rights에서 1992년 <b>8월 19일</b>에 만든 '국제 떠돌이 동물의 날'은 인간으로부터 버림받아 길 생활을 시작한
                모든 동물을 기립니다. 유기 동물의 심각성을 깨닫고 미연에 방지하기 위한 토론회, 길거리 캠페인 등을 열어 관련 대책을 마련하자는 취지로 시작되었습니다. ​</p>
              <footer><a class="btn" href="https://blog.naver.com/animalkara/222263070914" target="_blank">더 알아보기 →</a>
              </footer>
            </article>
          </li>
        </ul>
      </section>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <section id="references" class="hoc container clear">
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">사랑하는 반려동물의 삶을 한 눈에 그려보세요</h6>
        <p>그리다를 통해 사랑하는 반려동물을 영원히 기억하세요<br>사랑하는 반려동물의 모든 순간을 확인하세요</p>
      </div>
      <ul class="nospace group ref-img">
        <% for (var i=0; i < 6; i++){ %>
        <li class="one_third"><a class="imgover" href="/guest/myhome?id=<%=profile[i].loginid%>"><img src="../images/backup/<%= profile[i].f_image %>" alt=""></a></li>
        <% } %>
      </ul>

      <!-- ################################################################################################ -->
    </section>
  </div>

  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <article class="hoc cta clear">
      <!-- ################################################################################################ -->
      <h6 class="three_quarter first">반려동물을 위한 사이트 만들러가기</h6>
      <footer class="one_quarter"><a class="btn" href="../sign-up/signin/index.html">추모공간 만들기 →</a></footer>

      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left"> Copyright &copy; 2022 - All Rights Reserved - <a href="#">그리다</a></p>
      <p class="fl_right">당신의 삶을 <a target="_blank" href="https://www.os-templates.com/"
          title="Free Website Templates">그리다</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
  <script>
    $('#search').click(function () {
      var inputvalue = $('#search-input').val()
      window.location.replace('/search?value=' + inputvalue);
    })
  </script>
</body>

</html>