*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    background-color: var(--color--background);
}
:root{
    --color--background: #FFFFFF;
    --color--rectanangle--1: #C5D0E7;
    --color--rectanangle--2: #3C64B1;
    --font--normal: 나눔스퀘어, 'NanumSquare', sans-serif;
}
/*title*/
.title{
    width: 100%;
    height: 88px;
    display: flex;
}
.logo{
    margin: 21px auto 21px 166px;
}
.login{
    height: 32px;
    display: flex;
    justify-content: flex-end;
    margin: 20px 168px 20px auto;
}
.log_in{
    border: none;
    background-image: url(../image/loginpeople.png);
    cursor: pointer;
    width:48px;
    height:48px;
    border-radius:24px;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}


/**picture*/
.picture{
    width: 100%;
    height: 243px;
    background : url(../image/background.png);
}
/**imformation*/
.imformation{
    width: 100%;
    height: 133px;
    display: flex;
    background-color: #F4F7FB;
}
.people_image{
    position: relative;
    top :-97px;
    width: 190px;
    height: 190px;
    border: 2px solid #FFFFFF;
    border-radius: 95px;
    margin-left: 262px;
    background-color: #373F41;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.people_etc{
    background-color: #F4F7FB;
}
.people_etc *{
    background-color: #F4F7FB;
}
.people_name{
    width: 68px;
    height: 34px;
    font-size: 30px;
    line-height: 34px;
    margin: 28px auto auto 43px;
    font-family: var(--font--normal);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: left;

}
.people_etcs{
    display: inline-flex;
    margin: 16px auto auto 45px;
}
.people_etcs > div{
    margin-right: 26px;
    font-size: 15px;
    line-height: 17px;
    color: #868686;
    font-family: var(--font--normal);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: left;

}
.people_etcs > svg{
    margin-right: 6px;
    
}
.people_re{
    margin: 35px 258px auto auto;
    line-height: 22px;
    color: #3778B3;
    font-family: var(--font--normal);
    display: flex;
    background-color: #F4F7FB;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}
.people_re *{
    background-color: #F4F7FB;
}
.people_re > svg{
    margin-right: 12px;
}
/**menu*/ 
.active {
    display: block !important;
}
.menu{
    width: 100%;
    height: 84px;
}
.tab_menu{
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid#AAD3EA;
}
.tab_menu li{
    width: 184px;
    height: 84px;
    text-align: center;
    cursor: pointer;
    font-family: var(--font--normal);
    font-size: 22px;
    color: #3778B399;
    font-style: normal;
    font-weight: 800;
    line-height: 90px;
}
.menu_home{
    margin-left: 260px;
}
.tab_menu li.active{
    color: #3778B3;
    margin-bottom: -3px;
    border-bottom:4px solid #3778B3;
}
/*content*/
.content{
    display: flex;
    margin: 88px 260px auto 260px;
}
.content section{
    width: 100%;
    height: auto;
    display: none;
}
/*content_home*/
.content_home_title{
    width: 430px;
    height: 48px;
    font-size: 40px;
    font-weight: bold;
    color: #3778B3;
    margin-left: 245px;
    margin-bottom: 44px;
}
.content_home_content{
    margin: 0px auto 98px 0px;
    width: 920px;
    height: auto;
    font-family: var(--font--normal);
    font-size: 23px;
    color: #373F41;
    text-align: center;
}
/*content_gallery*/
.wrapper_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper_gallery span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.wrapper_gallery .image:nth-child(3n){
    margin: 0 0 26px 28px;
}
.wrapper_gallery .image:nth-child(3n+2){
    margin: 0 0 26px 28px;
}
.wrapper_gallery .image img{
    width: 288px;
    height: 288px;
    vertical-align: middle;
    transform: all 0.3s ease;
}
.wrapper_gallery .image:hover img{
    transform: scale(1.05);
}
.preview_box{
    position: fixed;
    width: 831px;
    height: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0;
    pointer-events: none;
}
.preview_box.show{
    opacity: 1;
    pointer-events: auto;
}


#icon{
    position: fixed;
    cursor: pointer;
    font-size: 30px;
    top: 2%;
    right: 2%;
    background-color:transparent;
    color: black;
    z-index: 3;
    opacity: 100%;
}
.preview_box .img_box{
    display: flex;
    width: 100%;
}
.preview_box .img_box img{
    width: auto;
    height: auto;
    min-height: 550px;
    max-width: 831px;
    max-height: 720px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.img_box .slide{
    position: absolute;
    top: 50%;
    font-size: 25px;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    margin: auto 30px auto 30px;
    height: 40px;
    border-radius: 50% 50%;
    line-height: 40px;
    text-align: center;
    opacity: 0.5;
}
.img_box .slide.prev{
    left: 0;
    color:rgba(0,0,0,0.5);
}
.img_box .slide.next{
    right: 0;
    color:rgba(0,0,0,0.5);

}

/*content_Setting*/
.content_setting{
    display: block;
    justify-content: center;
}
.range_set{
    width: 200px;
    height: 40px;
    margin-bottom: 32px;
    font-family: var(--font--normal);
    color: var(--color--rectanangle--2);
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}
.range_select{
    width: 920px;
    height: 534px;
    border-bottom: 1px solid #3179B4;
    display: inline-block;
    margin-bottom: 94px;
}
input[type="radio"]{
    display: none;
}
.range_select > label{
    display: flex;
    Width : 920px;
    Height : 132px;
    border: 1px solid #3C64B1;
    border-radius: 5px;
    margin-bottom: 22px;
    cursor: pointer;
    align-items: flex-start;
}
.range_select_a{
    display: block;
    background-color: none;
}
label:before{
    content: "";
    height: 20px;
    width: 20px;
    border: 1px solid #3C64B1;
    border-radius: 50%;
    margin: 40px 0px auto 45px;
}
input[type="radio"]:checked + label{
    border: 2px solid #3C64B1;
    Width : 918px;
    Height : 130px;

}
input[type="radio"]:checked + label::before{
    height: 10px;
    width: 10px;
    margin: 40px 0px auto 45px;
    border: 6px solid var(--color--rectanangle--2);
    background-color: white;
}
.big{
    font-family: var(--font--normal);
    font-size: 18px;
    font-weight: bold;
    margin: 40px auto 15px 17px;
}
.small{
    color:#9B9B9B;
    font-family: var(--font--normal);
    font-size: 15px;
    margin: auto auto auto 17px;
}
.block_set{
    width: 200px;
    height: 40px;
    margin-bottom: 28px;
    font-family: var(--font--normal);
    color: var(--color--rectanangle--2);
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}
.block_select{
    width: 920px;
    height: auto;
    border-bottom: 1px solid #3179B4;
    margin-bottom: 91px;
}
.share_set{
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
    font-family: var(--font--normal);
    color: var(--color--rectanangle--2);
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}
.share_select{
    display: inline-flex;
    margin-bottom: 91px;
}
.link_rel{
    width: 825px;
    height: 62px;
    background-color: #F4F7FB;
    border-radius: 5px;
}
.link_rel > input{
    width: 700px;
    font-size: 15px;
    font-weight: 800;
    font-family: var(--font--normal);
    color: #112233;
    margin: 23px auto 22px 28px;
    background-color: #F4F7FB;
    border: none;
}
.link_copy{
    width: 71px;
    height: 20px;
    margin: 22px auto 22px 24px;
    color: var(--color--rectanangle--2);
    font-family: var(--font--normal);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    cursor: pointer;
    border: none;
}
/*last*/
.last{
    width: 100%;
    height: 64px;
    background-color: #112233;
    display: flex;
    margin-top: 1px;
}
.last > div{
    width: 730px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    align-content: center;
    background-color: #112233;
    text-align: center;
    margin: 24px 355px 24px 355px;
    color:#C3CBCD;
}