
/*content_gallery*/


.wrapper_gallery .image:hover img{
    transform: scale(1.05);
}
.preview_box{
    position: fixed;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0;
    pointer-events: none;
}
.preview_box.show{
    opacity: 1;
    pointer-events: auto;
}


#icon{
    position: fixed;
    cursor: pointer;
    font-size: 30px;
    top: -40%;
    right: -40%;
    background-color:transparent;
    color: rgb(239, 239, 239);
    z-index: 3;
    opacity: 100%;
    text-align: right;
}
.preview_box .img_box{
    display: flex;
    width: 100%;
}
.preview_box .img_box img{
    width: 800px;
    height: 600px;
    max-width: 800px;
    max-height: 600px;
    min-width: 200px;
    min-height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.img_box .slide{
    position: absolute;
    top: 50%;
    font-size: 25px;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    margin: auto 30px auto 30px;
    height: 40px;
    border-radius: 50% 50%;
    line-height: 40px;
    text-align: center;
    opacity: 0.5;
}
.img_box .slide.prev{
    left: -50%;
    color:rgba(0,0,0,0.7);
    background-color: #F4F7FB;
}
.img_box .slide.next{
    right: -50%;
    color:rgba(0,0,0,0.7);
    background-color: #F4F7FB;

}

.button {

    background-color: rgba(30, 92, 198, 0.579);
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }